/.gradle
/build
/app/build
/local.properties
/.idea
/**/*.iml
/.DS_Store
/.gradle
/.gradle/*
/captures
/externalNativeBuild
/cmake
/.cxx
/.externalNativeBuild
/.settings
/*.keystore
.gradle
gradle-app.setting
build.gradle.kts.user
/.gradle
/.idea
/.vscode
/.history
*.log
*.tmp
bin/
obj/
/.navigation
/.cxx
/.externalNativeBuild
/*/build/
!/gradle/wrapper/gradle-wrapper.jar